/*
 * Global Variables / Reset
 * ----------------------{{{
 */
/*
 * Color Variables
 * ----------------------{{{
 */
/*
 * Time Variables
 * ----------------------{{{
 */
/* Time Font Variables --------*/
/* Time Style Variables --------*/
/*
 * Date Variables
 * ----------------------{{{
 */
/*
 * Link Variables
 * ----------------------{{{
 */
/* Link font vars --------*/
/* Sublink Variables --------*/
/*
 * Breakpoint Variables
 * ----------------------{{{
 */
/*
 * Global Styles
 * ----------------------{{{
 */
* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

a {
  outline: 0;
  text-decoration: none; }

body {
  background-color: #1a1a1a;
  text-align: center; }

/*
 * Time Styles
 * ----------------------{{{
 */
.time {
  display: block;
  position: relative;
  width: 100%;
  margin: 4% auto 0 auto;
  color: #2EB9FF;
  font-size: 15rem;
  font-weight: bolder;
  font-family: "Office Code Pro", "Lato", "Arial", sans-serif;
  text-shadow: 0px 15px rgba(0, 0, 0, 0.3);
  text-align: center; }
  .time span {
    /* Set as inline-flex so the clock size doesn't constantly
         * change based on the size of the letters used */
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%/3;
    text-align: initial; }
  @media only screen and (max-width: 1000px) {
    .time {
      font-size: 10rem; } }
  @media only screen and (max-width: 760px) {
    .time {
      font-size: 6.52174rem; } }

/*
 * Date Styles
 * ----------------------{{{
 */
.date {
  display: block;
  position: relative;
  color: #2EB9FF;
  font-size: 3.75rem;
  text-align: center;
  font-weight: bold;
  font-family: "Office Code Pro", "Lato", "Arial", sans-serif;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.3); }
  .date span {
    display: block; }
  @media only screen and (max-width: 1000px) {
    .date {
      font-size: 2.5rem; } }
  @media only screen and (max-width: 760px) {
    .date {
      font-size: 2.5rem; } }

/*
 * Link Styles
 * ----------------------{{{
 */
.links {
  display: block;
  margin-top: 50px;
  text-align: center; }
  .links .link--item {
    display: inline-block;
    vertical-align: top;
    margin: 25px auto;
    padding: 0 50px 0px 0px;
    line-height: 2.2em;
    text-align: initial; }
    @media only screen and (max-width: 760px) {
      .links .link--item {
        display: block;
        text-align: center; } }
  .links a, .links input {
    color: #FF2E4C;
    font-family: "Office Code Pro", "Lato", "Arial", sans-serif;
    font-size: 2.5em;
    text-shadow: 4px 3px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    background: none;
    box-shadow: none; }
  .links a:hover, .links a:active, .links a:focus {
    color: #2EB9FF;
    border-bottom: 3px solid #2EB9FF;
    transition: 0.25s color, 0.1s border; }
  .links input {
    background: none;
    border: none;
    box-shadow: none;
    border-bottom: 5px solid #FF2E4C; }

.curspo > * {
  cursor: default; }

ul.sublink {
  list-style: none;
  padding-left: 20px; }
  ul.sublink a {
    font-weight: normal; }
