* {
  box-sizing: border-box; }

body {
  background-color: #1a1a1a;
  color: #2EB9FF;
  text-align: center; }

.time {
  display: block;
  width: 100%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  font-size: 15em;
  font-weight: bolder;
  text-shadow: 0px 15px rgba(0, 0, 0, 0.3);
  font-family: "Office Code Pro", "Lato", "Arial", sans-serif;
  text-align: center; }
  @media only screen and (max-width: 1200px) {
    .time {
      font-size: 7.5em; } }
  @media only screen and (max-width: 760px) {
    .time {
      font-size: 6em; } }
  .time span {
    display: inline-flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%/3;
    text-align: initial; }

.date {
  font-size: 3em;
  text-align: center;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  font-family: "Office Code Pro", "Lato", "Arial", sans-serif; }

.block {
  display: block; }

.links {
  display: block;
  text-align: center; }
  .links .linkitem {
    display: inline-block;
    vertical-align: top;
    margin: 25px auto;
    padding: 0 50px 0px 0px;
    text-align: initial; }
    @media only screen and (max-width: 966px) {
      .links .linkitem {
        display: block;
        text-align: center; } }
  .links a {
    color: #FF2E4C;
    text-decoration: none;
    font-family: "Office Code Pro", "Lato", "Arial", sans-serif;
    font-size: 1.5em;
    text-shadow: 4px 3px rgba(0, 0, 0, 0.3);
    font-weight: bold;
    transition: 0.1s all; }
    .links a:hover, .links a:active, .links a:focus {
      color: #2EB9FF;
      border-bottom: 3px solid #2EB9FF;
      transition: 0.25s color, 0.1s border; }

.curspo > * {
  cursor: default; }

ul.sublink {
  padding-left: 20px;
  list-style: none; }
  ul.sublink a {
    font-weight: normal; }
