body {
  background-color: #1a1a1a;
  color: #2EB9FF;
  text-align: center; }

.time {
  display: block;
  width: 100%;
  margin-top: 5%;
  font-size: 15em;
  font-weight: bolder;
  text-shadow: 0px 15px rgba(0, 0, 0, 0.3);
  font-family: "Caviar Dreams";
  text-align: center; }
  .time span {
    display: inline-flex;
    height: 100%;
    width: 1.4em;
    max-width: 1.4em;
    text-align: initial; }

.date {
  font-size: 3em;
  text-align: center;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  font-family: "Caviar Dreams"; }

.block {
  display: block; }

.links {
  display: inline-block;
  text-align: initial; }
  .links ul {
    list-style: none;
    display: inline-block;
    vertical-align: top; }
  .links .linkitem {
    vertical-align: top;
    display: inline-block;
    margin: 35px; }
  .links a {
    color: #FF2E4C;
    text-decoration: none;
    border: none;
    font-family: "Monofur for Powerline";
    font-size: 1.5em;
    text-shadow: 4px 3px rgba(0, 0, 0, 0.3);
    font-weight: bold; }

.curspo > * {
  cursor: default; }

ul.sublink {
  padding-left: 5px;
  display: block;
  list-style: none; }
  ul.sublink a {
    font-weight: normal;
    text-shadow: 3px 2px rgba(0, 0, 0, 0.3); }
