$bg        : #1a1a1a;
$fg        : #2EB9FF;
$red       : #FF2E4C;
$green     : #A1FF7A;
$time-font : "Office Code Pro", "Lato", "Arial", sans-serif;
$date-font : $time-font;
$link-font : $time-font;
$link-size : 1.5em;
$time-size : 15em;
$date-size : 3em;

*{
    box-sizing: border-box;
}

body{
    background-color : $bg;
    color            : $fg;
    text-align       : center;
}

.time{
    display     : block;
    width       : 100%;
    margin-top  : 5%;
    margin-left : auto; margin-right: auto;
    font-size   : $time-size;
    font-weight : bolder;
    text-shadow : 0px 15px rgba(0,0,0,.3);
    font-family : $time-font;
    text-align  : center;

    @media only screen and (max-width: 966px){
        font-size : $time-size / 2;
    }

    @media only screen and (max-width: 760px){
        font-size : $time-size / 2.5;
    }

    span{
        display    : inline-flex;
        margin-left: auto; margin-right: auto;
        width      : 100% / 3;
        text-align : initial;
    }
}

.date{
    font-size   : $date-size;
    text-align  : center;
    text-shadow : 3px 3px rgba(0,0,0,.3);
    font-weight : bold;
    font-family : $date-font;
}

.block{
    display : block;
}

.links{
    display    : block;
    text-align : center;

    .linkitem{
        display        : inline-block;
        vertical-align : top;
        margin         : 25px auto;
        padding        : 0 50px 0px 0px;
        text-align     : initial;
    }

    a{
        color           : $red;
        text-decoration : none;
        font-family     : $link-font;
        font-size       : $link-size;
        text-shadow     : 4px 3px rgba(0,0,0,.3);
        font-weight     : bold;
    }
}

.curspo > *{
    cursor: default;
}

ul.sublink{
    padding-left : 20px;
    list-style   : none;

    a{
        font-weight : normal;
    }
}
