<<<<<<< HEAD
/*
 * Global Variables / Reset
 * ----------------------{{{
 */

$global--link_outline   : 0;
$global--link_deco      : none;
$global--box_sizing     : border-box;
$global--html-font_size : 62.5%;

// }}}

/*
 * Color Variables
 * ----------------------{{{
 */

$black      : #1a1a1a;
$blue       : #2EB9FF;
$red        : #FF2E4C;
$green      : #A1FF7A;

$background : $black;

// }}}

/*
 * Time Variables
 * ----------------------{{{
 */

/* Time Font Variables --------*/
$time-font              : "Office Code Pro", "Lato", "Arial", sans-serif;
$time-color             : $blue;
$time-font_weight       : bolder;
$time-text_shadow       : 0px 15px rgba(0,0,0,.3);
$time-font_size         : 15rem;

/* Time Style Variables --------*/
$time-width       : 100%;
$time-margins     : 4% auto 0 auto;

// }}}

/*
 * Date Variables
 * ----------------------{{{
 */

$date-font              : $time-font;
$date-font_size         : 3.75rem;
$date-font_default_size : $date-font_size;
$date-font_weight       : bold;
$date-color             : $time-color;
$date-text_shadow       : 3px 3px rgba(0,0,0,.3);

// }}}

/*
 * Link Variables
 * ----------------------{{{
 */

$links-margin_top : 50px;
$link-margins     : 25px auto;
$link-padding     : 0 50px 0px 0px;

/* Link font vars --------*/
$link-color       : $red;
$link-font_size   : 2.5em;
$link-font        : $time-font;
$link-line_height : $link-font_size - .3;
$link-font_weight : bold;
$link-text_shadow : 4px 3px rgba(0,0,0,.3);

/* Sublink Variables --------*/
$sublink-padding_left : 20px;
$sublink-font_weight  : normal;

// }}}

/*
 * Breakpoint Variables
 * ----------------------{{{
 */


// }}}

/*
 * Global Styles
 * ----------------------{{{
 */
=======
@import 'mixins';
$bg        : #1a1a1a;
$fg        : #2EB9FF;
$red       : #FF2E4C;
$green     : #A1FF7A;
$time-font : "Office Code Pro", "Lato", "Arial", sans-serif;
$date-font : $time-font;
$link-font : $time-font;
$link-size : 1.5em;
$time-size : 15em;
$date-size : 3em;
>>>>>>> master

* {
    // Set border-box for better sizing
    box-sizing : $global--box_sizing;
}

html {
    // Set font size for REM use. Roughly 1rem = 10px
    font-size : $global--html-font_size;
}

a {
    // Get rid of dotted outline on click
    outline         : $global--link_outline;
    text-decoration : $global--link_deco;
}

body {
    background-color : $background;
    text-align       : center;
}

// }}}

/*
 * Time Styles
 * ----------------------{{{
 */

.time {
    display     : block;
<<<<<<< HEAD
    position    : relative;
    width       : $time-width;
    margin      : $time-margins;
    color       : $time-color;
    font-size   : $time-font_size;
    font-weight : $time-font_weight;
=======
    width       : 100%;
    margin-top  : 5%;
    margin-left : auto; margin-right: auto;
    font-size   : $time-size;
    font-weight : bolder;
    // text-shadow : 0px 15px rgba(0,0,0,.3);
    @include threeD( darken( $fg, 27% ) );
>>>>>>> master
    font-family : $time-font;
    text-shadow : $time-text_shadow;
    text-align  : center;

    span {
        /* Set as inline-flex so the clock size doesn't constantly
         * change based on the size of the letters used */
        display     : inline-flex;
        margin-left : auto; margin-right : auto;
        width       : 100% / 3;
        text-align  : initial;
    }

    @media only screen and (max-width: 1000px) {
        font-size: $time-font_size / 1.5;
    }

    @media only screen and (max-width: 760px) {
        font-size : $time-font_size / 2.3;
    }
}

// }}}

/*
 * Date Styles
 * ----------------------{{{
 */

.date {
    display     : block;
    position    : relative;
    color       : $date-color;
    font-size   : $date-font_size;
    text-align  : center;
    font-weight : $date-font_weight;
    font-family : $date-font;
    text-shadow : $date-text_shadow;

    span{
        display : block;
    }

    @media only screen and (max-width: 1000px) {
        font-size: $date-font_size / 1.5;
    }

    @media only screen and (max-width: 760px) {
        font-size: $date-font_size / 1.5;
    }
}

// }}}

/*
 * Link Styles
 * ----------------------{{{
 */

.links {
    display    : block;
    margin-top : $links-margin_top;
    text-align : center;

    .link--item {
        display        : inline-block;
        vertical-align : top;
        margin         : $link-margins;
        padding        : $link-padding;
        line-height    : $link-line_height;
        text-align     : initial;

        @media only screen and (max-width: 760px) {
            display    : block;
            text-align : center;
        }
    }

    a, input {
        color           : $link-color;
        font-family     : $link-font;
<<<<<<< HEAD
        font-size       : $link-font_size;
        text-shadow     : $link-text_shadow;
        font-weight     : $link-font_weight;
        background: none;
        box-shadow: none;

=======
        font-size       : $link-size;
        text-shadow     : 4px 3px rgba(0,0,0,.3);
        font-weight     : bold;
        // transition: .25s color, .1s border;
>>>>>>> master
        // transition      : .1s all;

    }

    a {
        &:hover, &:active, &:focus {
            color         : $blue;
            border-bottom : 3px solid $blue;
            transition    : .25s color, .1s border;
        }
    }

    input {
        background: none;
        border: none;
        box-shadow: none;
        border-bottom: 5px solid $red;
    }
}

.curspo > * {
    cursor : default;
}

ul.sublink {
    list-style   : none;
    padding-left : $sublink-padding_left;

    a {
        font-weight : $sublink-font_weight;
    }
}

// }}}
